/* VARIABLES (easy color syncing) */
:root {
  --trapezoid-color: rgba(151, 172, 250, 1);
  --background-color: rgb(245,244,245);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  background: transparent;
  min-height: 100%;
  line-height: 1.6;
  display: block;
}

.site-header {
  position: absolute;
  z-index: 10;
  top: 0;
  width: 100%;
}

.section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 4rem 2rem;
  display: flex;
  align-items: center;
}

.content {
  position: relative;
  z-index: 2;
  max-width: 1100px;
  margin: 0 auto;
}

/* Section 1 */
.section--hero {
  background: var(--background-color);
  overflow: hidden;
}

/* Trapezoid */
.corner-trapezoid {
  position: absolute;
  inset: 0;
  background: var(--trapezoid-color);
  clip-path: polygon(
    0 100%,   /* bottom-left */
    100% 100%, /* bottom-right */
    100% 45%   /* midway up right side */
  );
  z-index: 1;
  pointer-events: none;
}

/* Section 2 */
.section--match {
  background: var(--trapezoid-color);
}


.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin: 1rem 0.5rem 2rem;
}

/*-- nav buttons --*/
.btn {
  position: relative;
  display: inline-block;
  width: auto; height: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0px 25px 15px;
  min-width: 150px;
}
  .btn span {         
    position: relative;
    display: inline-block;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    top: 0; left: 0;
    width: 100%;
    padding: 15px 20px;
    transition: 0.3s;
    color: rgb(0, 0, 0);
    border: 3px solid rgb(28, 31, 30);
    transition: 0.2s 0.1s;
  }
.btn::before {
  background-color: rgb(32, 36, 34);
  transition: 0.3s ease-out;
  top:0; bottom: 0; right: 0;
  height: 100%; width: 100%;
  opacity: 1;
}
.btn span:hover {
  color: #9EBCEF;
  transition: 0.2s 0.1s;
}
.btn:hover::before {
  opacity: 0;
}

/*-- Dropdown --*/
.dropdown {
  position: relative; 
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.dropdown:hover .dropdown-content{
  opacity:1;
  transition: 0.2s 0.1s;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    border: none;
    opacity: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
    display: block;
    font-weight: 400;
    line-height: normal;
    color: rgb(0, 0, 0);
    padding: 0.75rem 1rem;
    text-decoration: none;
    transition: 0.2s 0.1s;
}
.dropdown-content a:hover {
  background-color: #ffffff;
  color: #9EBCEF;
}

  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}


.title1{
  position: absolute;
  transform: translate(-50%, -50%)
             translate(-3rem, 8rem);
  color: rgb(50, 50, 50);
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
  z-index: 9999;
}

.title2{
  position: absolute;
  transform: translate(-50%, -50%)
             translate(43rem, 13rem);
  color: rgb(50, 50, 50);
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
  z-index: 9999;
}

/* Adding amorphous movement to profile picture */
.container {
    padding: 5% 0 0 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .box {
    width: 90vmin;
    height: 90vmin;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border-radius: 50%;
      transform: scale(1.42);
    }
  }
  .spin-container {
    width: 100%;
    height: 100%; /* animation: spin 12s linear infinite; */
    position: relative;
  }
  .shape {
    width: 100%;
    height: 100%;
    transition: border-radius 1s ease-out;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    animation: morph 4s ease-in-out infinite both alternate;
    position: absolute;
    overflow: hidden;
    z-index: 5;
  }
  .bd:before {
    content: "";
    position: relative;
    
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .bd {
    width: 142%;
    height: 142%;
    position: relative;
    left: -21%;
    top: -21%;
    display: flex;    
    font-size: 5vw;
    align-items: center;
    justify-content: center;
    text-align: center; 
    z-index: 2;
  }
  .bd img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @keyframes morph {
    0% {
      border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%;
    }
    100% {
      border-radius: 40% 60%;
    }
  }
  @keyframes spin {
    to {
      transform: rotate(1turn);
    }
  }
  
/* Home page about me description */
.home-desc{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.home-desc-header{  
  padding: 20px;
  text-align: center;
}
.home-desc-h1{
  font-family: "Oswald", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 64px;
  font-weight: bold;
  font-style: normal;
}
.home-desc-h2{
  font-family: "Oswald", sans-serif;
  color: black;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  margin-top: -12px;
}
.home-desc-content{
  display: flex;
  flex: 1;
  padding: 0px 20px 0px 20px;
  gap: 30px;

  font-family: "Oswald", sans-serif;
  font-size: 24px; 
  font-weight: 300; 
  font-style: normal;
  line-height: 1.8;
  letter-spacing: 1px;
}
@media (max-width: 768px) {
    .home-desc-content {
        flex-direction: column;
    }
}
.home-desc-column{
  padding: 20px;
  flex: 1;
  border-radius: 4px;
}
.home-desc-footer {
  text-align: center;
}
.home-desc-footer a {
  font-family: "Oswald", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 16px;;
  font-weight: 300;
  font-style: normal;
}



/* My projects */
.project-grid {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.project-row {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.project-container {
    width: 494px;
    margin-bottom: 2rem;
}

.project-inner-container {
    width: 494px;
    height: 300px;
    display:flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.project-img {
    width: 300px;
    height: 195px;
    transition: transform 0.3s ease-in-out; /* Adding a smooth transition effect */
    cursor: pointer; /* Changing cursor to a hand */
    border-style: solid;
    border-color: black;
    border-width: 3px;
}

.project-img:hover {
    transform: scale(1.03); /* Increasing size by 3% */
}

.project-title{
    margin-bottom: 0;
    color: green;
    font-family: "Lato";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
}

.project-link {
    color: #030303;
    font-family: "Lato";
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
}

.project-desc {
margin-top: 0.5;
color: #030303;
}

.project-desc {
    margin-top: 0.5;
    color: #030303;
}



